@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --very-dark-grayisg-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --body-copy: 13px;
}

body{
    background-color: rgb(227, 248, 255) ;
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;
}

.mainCard {
    height: 300px;
    width: 800px;
    background-color: white;
    display: flex;
    border-radius: 20px;
}

.banner{
    object-fit: cover;
    height: 100%;
    width: 300px;
    border-radius: 20px 0 0 20px;
}
.mainText{
    margin: 25px;
}
.title{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: var(--very-dark-grayisg-blue);
}
.section{
    color: var(--desaturated-dark-blue);
    margin-bottom: 20px;
}
.autor{
    display: flex;
    align-items: center;
}
.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.data{
    width: 135px;
    margin-right: 215px;
}
.name{
    color: var(--very-dark-grayisg-blue);
}
.date{
    color: var(--grayish-blue);
    font-size: 13px;
}
.button{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.inactive{
    display: none;
}
.shareActive{
    position: absolute;
    top: 53%;
    left: 66%;
    width: 200px;
}
.social{
    width: 100%;
    height: 40px;
    background-color: var(--very-dark-grayisg-blue);
    display: flex;
    color: var(--grayish-blue);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 12px;
}
.shareTitle{
    margin: 5px 0 5px 10px;
}
.icon{
    height: 20px;
    width: 20px;
    margin: 5px 10px 5px 0 ;
}
.row{
    position: relative;
    left: 100PX;
    top: -8px;
    height: 15px;
    width: 15px;
    background-color: var(--very-dark-grayisg-blue);
    transform: rotate(45deg);
}
.bmobile{
    display: none;
}

@media(max-width: 600px){
    .mainCard{
        display: block;
        height: 600px;
        width: 400px;
    }
    .banner{
        width: 100%;
        height: 300px;
        border-radius: 20px 20px 0 0;
    }
    .title{
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: var(--very-dark-grayisg-blue);
    }
    .data{
        width: 200px;
        margin-right: 50px;
    }
    .shareActive{
        position: static;
        width: 100%;
        height: 60px;
    }
    .social{
        height: 60px;
        justify-content: left;
        border-radius: 0 0 10px 10px;
    }
    .shareTitle{
        margin: 0 20px;
    }
    .icon{
        margin: 0 20px;
    }
    .row{
        display: none;
    }
    .bmobile{
        display: flex;
        margin-left: 75px;
    }
}




